.forecast-summary {
    background: rgb(20, 50, 180);
    color: rgb(245, 236, 236);
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    align-items: center;
    justify-content: space-around;
    height: 350px;
    width: 220px;
    border: 2px solid transparent;
    border-radius: 20px;
    box-shadow: 3px 3px 8px rgb(51, 54, 54);
}

.forecast-summary:hover {
    background-image: url(../images/Free-Weather-Background.jpg);
    border: 2px solid #fc913a;
}

.date {
    font-size: 20px;
    background: transparent;
    color: #fc913a;
}

.temperature {
    font-size: 60px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.9);
    background: transparent;
}

.description {
    font-size: 20px;
    background: transparent;
}

.icon {
    font-size: 60px;
}

.more-details {
    font-weight: 500;
    border-radius: 50px;
    padding: 8px;
    cursor: pointer;
    color: #fc913a;
    background: #fff;
    border: 1px solid white;
    transition: 200ms linear;
}

.more-details:hover {
    background: #fc913a;
    color: #fff;
    border: 1px solid #fc913a;
}

.more-details:active {
    background: transparent;
    border: 1px solid white;
}