.location-details {
    color: rgb(61, 61, 61);
    font-size: 40px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    transition: 100ms linear;
}