.location-details {
    font-family: 'montserrat', sans-serif;
    font-size: 40px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}