.search-form {
    display: inline-flex;
    margin: 2% 32%;
    border: 3px solid white;
    border-radius: 50px;
  }

  .input{
    width: 300px;
    background: transparent;
    padding: 0px 30px;
    border-radius: 50px 0 0 50px;
    border: 0.1px solid white;
    outline: none;
    font-size: 18px;
    color: rgb(61, 61, 61);
  }
  
  .search-button {
    top: 20px;
    right: 50px;
    cursor: pointer;
    color: #fc913a;
    background: #fff;
    border: 3px solid white;
    width: 120px;
    height: 55px;
    border-radius: 0 50px 50px 0;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: 200ms linear;
  }

  .search-button:hover {
    background: #fc913a;
    color: #fff;
    border: 3px solid #fc913a;
  }

  .search-button:active {
    background: transparent;
    border: 3px solid white;
  }